# Ignore the output folder of any compilations made.
*/output/
*/build/
*/dist/
*.spec
*.bat

# Ignore any Cache Files Created by Python.
__pycache__

# Remove the Environmental Variables.
.env

#Hides the memory file.
bioshock2_memory.py
maingui.py

# Hides the dev Discord Application ID.
app.txt

# Hides the log file as it gets generated on the user's system anyway.
log.txt